* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
}

.main-image {
  position: relative;
}

.main-image img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

h2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  padding-top: 40px;
}

.container {
  width: 95rem;
  height: 30rem;
  background: white;
  display: flex;
 margin: 60px auto;
  justify-content: space-evenly;



}

.col {
  height: 100%;
 
  padding: 25px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  display: flex;
  align-items: center;
  padding-left: 30px;
 
 
 
}

h5{
  display: flex;
  align-items: center;
 
 
}

.col img {
  display: flex;
  align-items: center;
  width: 70%;
  height: 70%;
  justify-content: center;
 
}

.col a {
  display: flex;
  text-align: center;
  align-items: center;
}

h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: space-evenly;
 
}

h5{ 
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
 width: 100%; 
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.box-container .box {
  height: 30rem;
  width: 35rem;
  border-radius: 0.1rem;
  -webkit-box-shadow: 0 0 0.3rem #333;
  box-shadow: 0 0 0.3rem #333;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal;  */
  -ms-flex-flow: column;
  flex-flow: column;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  justify-content: space-evenly;
}

.box-container .box img {
  height: 50%;
  width: 80%;
}



button {
  width: 250px;
  height: 40px;
  color: black;
  /* background-color: white; */
   border: 3px solid rgb(0, 0, 0); 
  border-radius: 25px;
  font-size: 600;

} 

button:hover {
  background-color: lightblue;
  color: white;
  
}

.footer {
  background-color: darkgray;
  color: white;
   height: 10vh;
   justify-content: space-evenly;
  padding: 10px 0 0 ;
}

.footer-col-1 {

  color: rgb(8, 0, 0);
  display: flex; 
  flex-direction: row;
  width: 100%;

   padding-top: 20px;
  justify-content: center;
  justify-content: space-evenly;

}

.footer-col-1:hover{
 color:white;
}


 

  


 




a{
  display: flex;
  flex-direction: row;
}

.sitemap {
  display: flex; 
  flex-direction:row;
 
 
}
    

.privacy{
    display: flex;
    flex-direction: row;
  
}

.legal{
     
  display: flex;
  flex-direction: row;



}

/* .row p{
  color: white;
} */

.container-3{
  padding-left: 20px;
  color: white;
  background-color: darkgray;
  width: 100%;

 

}

.container-3 a{
  color: rgb(7, 0, 0);
  padding-top: 30px;
  display: flex;
  justify-content: center;


}

.container-3 a:hover{
  color:white;
}

.container-3 p{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: black;
}

.container-3 p:hover{
  color:white;
}

@media screen and (max-width: 768px) {
  
  .main-image img{
    height: 30vh;
    width: 100%;

  }

  h2{
    display: flex;
    font-size: 20px;
  }

  h3{
    display: flex;
    font-size: 20px;
    align-items: center;
  

  }
  
  h5{
    display: flex;
    margin-left: 30px;
  }
  
  
  
  .container {
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 80rem;
    padding-top: 10px;
    margin-top: 20px;
    justify-content: space-evenly;
  

  }

  .col{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .col img {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60%;
    margin-left: 20px;
   
  }
  .footer{
    height: 20vh;
    background-color: darkgray;
    display: block;
   
  }


 .container-3 a{
   display: flex;
   align-items: center;
   padding: auto;
   font-size: 15px;
  
 }

 .container-3 p {
 padding-top: 20px;
 }

 button{
   width: 180px;
   
 }

.col a{
  display: flex;
  justify-content: center;
}
 .footer-col-1{
   display: grid;
  padding-top: 20px;
   
   grid-template-columns: 50% 50%;
 }
 .legal{
   padding-left: 70px;
 }
 .APPLY{
   padding-left: 50px;
 }

 .sitemap{
  padding-left: 70px;
}
.privacy{
  padding-left: 50px;
}
}


